tmp
practical_sessions/day2/00_BEAST/examples
practical_sessions/day2/01_MCMCtree/examples
practical_sessions/day1/01_MrBayes/analysis/conifer*
practical_sessions/day1/01_MrBayes/analysis/ctl_mrbayes.nex
# data formatting
practical_sessions/day2/main
practical_sessions/day2/00_data_formatting/01_inp_data
practical_sessions/day2/00_data_formatting/00_raw_data/log_lenseq.txt
# BASEML
practical_sessions/day2/01_PAML/00_Hessian/out_RData
# MCMCtree
practical_sessions/day2/01_PAML/01_MCMCtree/dummy_aln
practical_sessions/day2/01_PAML/01_MCMCtree/out_RData
practical_sessions/day2/01_PAML/01_MCMCtree/plots
practical_sessions/day2/01_PAML/01_MCMCtree/sum*
